.venv
venv/*
generated_xml_output/*
!generated_xml_output/.keepme
*.pyc
*.log
made_ftp_ready_on/20*
ftp-to-hw/*.zip
sample-zip-from-ejp/*.zip
unpacked_renamed_ejp_files/*.pdf
unpacked_renamed_ejp_files/*.xml
settings.py
sample_pdf_decapitation_output/*
sample_pdf_from_ejp/*
staging_decapitate_pdf_dir/*
tmp/*
!tmp/.keepme
tests/*.log
tests/test_output/*
tests/tmp/generated_xml_output/*
tests/tmp/*